.btn {
    transition: all 0.2s ease-out;
    font-weight: 700;
    text-transform: uppercase;
}
.btn--orange {
    color: white;
    background-color: var(--col-orange-500);
    &:hover {
        background-color: lighten($col-orange-500,10%);
    }
}
.btn--green {
    color: white;
    background-color: var(--col-green-500);
    &:hover {
        background-color: lighten($col-green-500,10%);
    }
}
.btn--purple {
    color: white;
    background-color: var(--col-purple-500);
    &:hover {
        background-color: lighten($col-purple-500,10%);
    }
}